<script src="~/Scripts/MyScript.js"></script>

<div id="userlistDiv" class="jumbotron">
    <table  class="table table-striped">
        <theading  colspan="4"style="text-align:center">
            Elever ved SbdS
        </theading>
        <tr>
            <th>
       Fornavn
            </th>
            <th>
                Etternavn
            </th>
            <th>
               Adresse
            </th>
            <th>
               Alder
            </th>
        </tr>

        @foreach (var item in ViewBag.userlist)
        {
            <tr>
                <td>
                    @item.Fname
                </td>
                <td>
                    @item.Lname
                </td>
                <td>
                    @item.Adr
                </td>
                <td>
                    @item.Age
                </td>
                <td>
                    <a href="#" id="EditUser"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#" id="DeleteUser"><i style="color:red" class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>

        }
    </table>
</div>@*Slutt på userlistDiv *@
<div id="CourselistDiv" class="jumbotron">
    <table class="table table-striped">
        <theading style="text-align:center">
            Kurs ved SbdS
        </theading>
        <tr>
            <th>
                Kursnavn
            </th>
            <th>
               Dag
            </th>
            <th>
                Instruktør
            </th>
            <th>
                
            </th>
        </tr>

        @foreach (var item in ViewBag.Courselist)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Day
                </td>
                <td>
                    @item.Instructor
                </td>
                <td>
                    <a href="#"id="EditCourse"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#" id="DeleteCourse"><i style="color:red" class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>

        }
    </table>
</div>@*Slutt på CourselistDiv *@
<div id="UsersAtCourseDiv" class="jumbotron">
    <table class="table table-striped">
        
            <theading style="text-align:center">
                Elever registrert på kurs
            </theading>
       
        <tr>
            <th>
                Elevnummer
            </th>
            <th>
                Elevnavn
            </th>
            <th>
                Etternavn
            </th>
            <th>
               Kursnavn
            </th>
            <th>
                
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in ViewBag.UserAtCourse)
        {
            <tr id="row_@item.AtCourseId">
                <td>
                    @item.UserAccount.UserId
                </td>
                <td>
                    @item.UserAccount.Fname
                </td>
                <td>
                    @item.UserAccount.Lname
                </td>
                <td>
                    @item.Course.Name
                </td>
                <td>
                   
                </td>
                <td>
                    <a href="#"id="editUserAtCourse"><i class="glyphicon glyphicon-pencil"></i> </a>
                    <a href="#" id="DeleteUserAtCourse"onclick="ConfirmDelete(@item.AtCourseId)"><i style="color:red" class="glyphicon glyphicon-trash"></i> </a>
                    
            </tr>

        }
    </table>
</div>@*Slutt på UsersAtCourseDiv *@


<input type="hidden" id="hiddenApplicationId" />
<!--Deletemodal-->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Er du sikker på at du vil slette eleven på dette kurset?</h4>

                <div style="text-align:center;display:none " id="loaderDiv">
                    <i class="fa fa-spinner" aria-hidden="true"></i>
                </div>
            </div><!--Body-->
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Avbryt</a>
                <a href="#" class="btn btn-success" onclick="DeleteApplication()"> Slett</a>

            </div>

        </div>

    </div>
</div>
<!--Slutt på deletemodal-->